<div class="container">
  <div class="header">
    <h1>Blake Becerra Angular App</h1>
    <h2 *ngIf="quiz">{{quiz.title}} Quiz</h2>
    <app-picker *ngIf="!picked" [quizzes]="quizzes" (selecting)="select($event)"></app-picker>
  </div>
  <div class="card">
    <div *ngIf="quiz">
      <div *ngFor="let q of quiz.questions; let i=index">
        <app-question *ngIf="i===unanswered[selected]" (correct)="add($event)" [question]="q.question" [answer]="q.answer" [options]="q.options"></app-question>
      </div>
      <button *ngIf="quiz && unanswered.length !==0" (click)="previousQuestion()">Back</button>
      <button *ngIf="quiz && unanswered.length !==0" (click)="nextQuestion()">Next</button>
      <br />
      <button (click)="resetQuiz()">Reset Quiz</button>
      <div>
        <h2 *ngIf="quiz && unanswered.length !==0">You have gotten {{ total }} questions of {{ quiz.questions.length }} correct.</h2>
        <h1 *ngIf="quiz && unanswered.length ===0">Congragulations you completed the quiz!</h1>
      </div>
    </div>
  </div>
</div>
